<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
	</configSections>

  <!-- <appSettings>
    <add key="ApplicationId" value="4e214e41-9bad-47cf-b68f-e70e814ceb9d" />
    <add key="roleadmincabang" value="4b2d75ab-f544-4382-98d9-d8f941b23c73"/>
    <add key="rolesuperadmin" value="8845f92d-385c-4961-828f-62311e1970fd"/>  
    <add key="URLOrgHOPE" value="http://10.85.129.93:7001" />
    <add key="URLOrgMOBILE" value="http://10.85.129.76:9196" />
    <add key="URLOrgAX" value="http://10.85.129.91:3002" />
    <add key="EncriptKey" value="siloam" />
    <add key="DefaultPassword" value="12345678" />
    <add key="DefaultHopeID" value="0" />
    <add key="DefaultBirthday" value="01 Jan 1900" />
    
    <add key="URLUserManagement" value="" />
    <add key="registryflag" value="1"/>
  </appSettings> -->
  
   <appSettings>
    <add key="ApplicationId" value="4e214e41-9bad-47cf-b68f-e70e814ceb9d" />
    <add key="roleadmincabang" value="4b2d75ab-f544-4382-98d9-d8f941b23c73"/>
    <add key="rolesuperadmin" value="8845f92d-385c-4961-828f-62311e1970fd"/>
    <add key="URLOrgHOPE" value="http://10.85.129.93:7001" />
    <add key="URLOrgMOBILE" value="http://10.85.129.76:9196" />
    <add key="URLOrgAX" value="http://10.85.129.91:3002" />
    <add key="EncriptKey" value="siloam" />
    <add key="DefaultPassword" value="12345678" />
    <add key="DefaultHopeID" value="0" /> 
    <add key="DefaultBirthday" value="01 Jan 1900" /> 
    
     <add key="URLUserManagement" value="http://localhost:7500" />   <!-- localhost -->
     <!--<add key="URLUserManagement" value="http://10.85.129.55:7500" />-->   <!-- dev central -->
    
     <add key="registryflag" value="0"/>
  </appSettings> 

	<log4net threshold="ON">
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RFAppender_Prelogin" />
			<appender-ref ref="RFAppenderOrg_1" />
			<appender-ref ref="RFAppenderOrg_2" />
			<appender-ref ref="RFAppenderOrg_3" />
			<appender-ref ref="RFAppenderOrg_4" />
			<appender-ref ref="RFAppenderOrg_5" />
			<appender-ref ref="RFAppenderOrg_6" />
			<appender-ref ref="RFAppenderOrg_7" />
			<appender-ref ref="RFAppenderOrg_8" />
			<appender-ref ref="RFAppenderOrg_9" />
			<appender-ref ref="RFAppenderOrg_10" />
			<appender-ref ref="RFAppenderOrg_11" />
			<appender-ref ref="RFAppenderOrg_12" />
			<appender-ref ref="RFAppenderOrg_13" />
			<appender-ref ref="RFAppenderOrg_14" />
			<appender-ref ref="RFAppenderOrg_15" />
			<appender-ref ref="RFAppenderOrg_16" />
			<appender-ref ref="RFAppenderOrg_17" />
			<appender-ref ref="RFAppenderOrg_18" />
			<appender-ref ref="RFAppenderOrg_19" />
			<appender-ref ref="RFAppenderOrg_20" />
			<appender-ref ref="RFAppenderOrg_21" />
			<appender-ref ref="RFAppenderOrg_22" />
			<appender-ref ref="RFAppenderOrg_25" />
			<appender-ref ref="RFAppenderOrg_26" />
			<appender-ref ref="RFAppenderOrg_27" />
			<appender-ref ref="RFAppenderOrg_28" />
			<appender-ref ref="RFAppenderOrg_29" />
			<appender-ref ref="RFAppenderOrg_30" />
			<appender-ref ref="RFAppenderOrg_31" />
			<appender-ref ref="RFAppenderOrg_32" />
			<appender-ref ref="RFAppenderOrg_33" />
			<appender-ref ref="RFAppenderOrg_34" />
			<appender-ref ref="RFAppenderOrg_35" />
			<appender-ref ref="RFAppenderOrg_36" />
			<appender-ref ref="RFAppenderOrg_37" />
			<appender-ref ref="RFAppenderOrg_38" />
			<appender-ref ref="RFAppenderOrg_39" />
			<appender-ref ref="RFAppenderOrg_40" />
			<appender-ref ref="RFAppenderOrg_41" />
			<appender-ref ref="RFAppenderOrg_42" />
			<appender-ref ref="RFAppenderOrg_43" />
			<appender-ref ref="RFAppenderOrg_44" />
			<appender-ref ref="RFAppenderOrg_46" />
			<appender-ref ref="RFAppenderOrg_47" />
			<appender-ref ref="RFAppenderOrg_48" />
			<appender-ref ref="RFAppenderOrg_51" />
			<appender-ref ref="RFAppenderOrg_101" />
		</root>
		<appender name="RFAppender_Prelogin" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\ux-web-gx-user-management_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="-1" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_1" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHG\ux-web-gx-user-management-1_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="1" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_2" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHLV\ux-web-gx-user-management-2_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="2" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_3" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHKJ\ux-web-gx-user-management-3_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="3" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_4" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHLC\ux-web-gx-user-management-4_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="4" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_5" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHSB\ux-web-gx-user-management-5_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="5" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_6" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHJB\ux-web-gx-user-management-6_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="6" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_7" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\RSUSLV\ux-web-gx-user-management-7_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="7" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_8" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHCN\ux-web-gx-user-management-8_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="8" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_9" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHMK\ux-web-gx-user-management-9_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="9" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_10" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHBP\ux-web-gx-user-management-10_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="10" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_11" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHYG\ux-web-gx-user-management-11_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="11" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_12" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHBG\ux-web-gx-user-management-12_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="12" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_13" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHBB\ux-web-gx-user-management-13_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="13" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_14" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHDP\ux-web-gx-user-management-14_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="14" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_15" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHTS\ux-web-gx-user-management-15_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="15" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_16" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHKP\ux-web-gx-user-management-16_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="16" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_17" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHPL\ux-web-gx-user-management-17_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="17" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_18" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHCT\ux-web-gx-user-management-18_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="18" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_19" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\MRCCC\ux-web-gx-user-management-19_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="19" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_20" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHLL\ux-web-gx-user-management-20_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="20" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_21" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHJR\ux-web-gx-user-management-21_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="21" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_22" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHCB\ux-web-gx-user-management-22_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="22" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_25" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\H025\ux-web-gx-user-management-25_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="25" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_26" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\H026\ux-web-gx-user-management-26_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="26" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_27" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHMP\ux-web-gx-user-management-27_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="27" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_28" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHMN\ux-web-gx-user-management-28_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="28" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_29" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\BCI\ux-web-gx-user-management-29_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="29" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_30" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHKD\ux-web-gx-user-management-30_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="30" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_31" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\RSUSW\ux-web-gx-user-management-31_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="31" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_32" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHJK\ux-web-gx-user-management-32_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="32" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_33" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHPR\ux-web-gx-user-management-33_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="33" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_34" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHMD\ux-web-gx-user-management-34_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="34" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_35" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHPB\ux-web-gx-user-management-35_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="35" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_36" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHBS\ux-web-gx-user-management-36_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="36" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_37" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\M001\ux-web-gx-user-management-37_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="37" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_38" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHSM\ux-web-gx-user-management-38_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="38" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_39" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHLB\ux-web-gx-user-management-39_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="39" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_40" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\STC\ux-web-gx-user-management-40_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="40" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_41" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHAB\ux-web-gx-user-management-41_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="41" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_42" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHPD\ux-web-gx-user-management-42_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="42" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_43" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHBN\ux-web-gx-user-management-43_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="43" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_44" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHMA\ux-web-gx-user-management-44_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="44" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_46" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\KUTA\ux-web-gx-user-management-46_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="46" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_47" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\NUSADUA\ux-web-gx-user-management-47_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="47" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_48" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHBJ\ux-web-gx-user-management-48_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="48" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_51" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SHSR\ux-web-gx-user-management-51_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="51" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
		<appender name="RFAppenderOrg_101" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\SCCP\ux-web-gx-user-management-101_" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<filter type="log4net.Filter.PropertyFilter">
				<Key value="Organization" />
				<StringToMatch value="101" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="LogDate;Page;LogType;Session;Function;OrganizationId;ReferenceCode;ReferenceNo;Method;StartTime;EndTime;User;Status;QueryString;JsonRequest;Response &#13;&#10;" />
				<ConversionPattern value="%d{yyyy-MM-dd HH:mm:ss};%type;%-5p;[%thread];%method;%m;%n" />
			</layout>
		</appender>
	</log4net>



	<system.web>
    <sessionState mode="InProc" cookieless="true" customProvider="DefaultSessionProvider" timeout="600" ></sessionState>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" />
    <authentication mode="Windows" /> 
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="ajaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <customErrors mode="RemoteOnly" defaultRedirect="Pages/Login_page.aspx"/>
  </system.web>
  
  <system.webServer>
   <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>
 </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>